# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

u458533161_tcw1k.sql
u458533161_tcw1k.csv
# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# image enhancement/upscaling progress
.enhance-progress.json
.upscale-progress.json
.upscale-tmp/

# typescript
*.tsbuildinfo
next-env.d.ts
.env*.local
